# Byte-compiled / optimized / test files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg

# Editor/OS temporary files
*~
.DS_Store

# Virtual Environment
.venv/
venv/
env/

# Build artifacts
dist/*
build/*
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints


.env
sample_data.txt